<button class="w-19 h-auto m-3" type="button">
  <img class="sidebar-logo" src="/nexaIcon.svg" alt="Logo da Nexa" />
</button>

@for (item of menuButtons; track item.label) {
  <app-icon-button [label]="item.label" [icon]="item.icon" (clicked)="onMenuClick(item)" />
}

<div
  class="mt-auto flex cursor-pointer items-center gap-2 rounded-4xl p-3 text-center hover:bg-[#141414]"
>
  <img
    [src]="user().profilePic"
    [alt]="'Foto de perfil de ' + user().name"
    class="h-10 w-10 rounded-full object-cover ring-2 ring-zinc-200"
  />

  <div class="flex flex-col">
    <span class="text-start font-semibold">{{ user().name }}</span>
    <span class="font-thin text-[#434343]">{{ user().profileName }}</span>
  </div>
</div>
