<div
  [class.border-gray-400]="isFocused"
  [class.border-gray-700]="!isFocused"
  class="relative rounded-md border transition-colors"
>
  <input
    [type]="inputType()"
    [placeholder]="placeholder()"
    [value]="value()"
    (input)="onInput($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
    class="w-full bg-transparent text-white text-[15px] px-4 py-4 focus:outline-none placeholder-gray-600 transition-all"
  />
  <button class="absolute right-3 top-1/2 -translate-y-1/2" (click)="toggleVisibility()">
    @if (showPassword()) {
      <svg lucideEye class="w-5 h-5 text-gray-400" />
    } @else {
      <svg lucideEyeOff class="w-5 h-5 text-gray-400" />
    }
  </button>
</div>
